.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../img/bg-contacts.png") no-repeat center center / cover;
  overflow-x: hidden;
  animation: fade-in 0.5s ease;
  position: relative;

  &.disappear {
    animation: slide-out-top 0.5s ease forwards;
  }

  h1 {
    margin-top: 50px;
  }
}

@keyframes slide-out-top {
  0% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}

@keyframes slide-in-top {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}

.back {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 160px;
  width: 400px;
  border: 2px solid #ffb800;
  border-radius: 30px;
  padding: 15px;
  background-color: #161616;
  transition: 0.2s background-color ease;
  position: relative;
  animation: slide-in-top 0.5s ease;

  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #ffffff;
  }

  img {
    margin-bottom: 5px;
  }

  &:hover {
    background-color: #252525;
  }

  &:active {
    background-color: #101010;
  }
}

h1 {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  animation: fade-in 1s ease;
}

.content {
  width: 100%;
}

.blocks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

@keyframes slide-in-left {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-in-right {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}

.block {
  width: 600px;
  height: 640px;
  border-radius: 30px;
  border: 2px solid #ffb800;
  box-shadow: 0px 0px 40px rgba(255, 184, 0, 0.5);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  overflow: hidden;
  background-color: #161616;

  &:first-child {
    animation: slide-in-left 0.5s ease;
  }

  &:last-child {
    animation: slide-in-right 0.5s ease;
  }

  h2 {
    font-size: 32px;
    text-align: center;
    line-height: normal;
  }

  button {
    width: 200px;
    height: 60px;
    border-radius: 80px;
    background-color: #ffb800;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #ffdd00;
    }

    &:active {
      background-color: #d39700;
    }
  }

  * {
    z-index: 1;
  }

  &::before {
    content: "TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US TEXT US";
    font-size: 96px;
    line-height: normal;
    font-weight: 900;
    color: #2f2f2f;
    width: 300%;
    height: 200%;
    transform: translate(-50%, -30%) rotate(60deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 30px;
  }

  &:last-child::before {
    transform: translate(-40%, 10%) rotate(-60deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    font-size: 16px;
    margin-left: 20px;
  }

  input {
    width: 100%;
    height: 60px;
    border-radius: 80px;
    background-color: #fff;
    padding: 0 20px;
    color: #000;
    font-size: 20px;

    &::placeholder {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.75);
    }
  }

  textarea {
    width: 100%;
    height: 125px;
    border-radius: 30px;
    background-color: #fff;
    padding: 20px;
    resize: none;
    color: #000;
    font-size: 20px;

    &::placeholder {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.75);
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;

  .contact {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }

  p {
    font-size: 24px;
  }
}

.or {
  font-size: 64px;
  font-weight: 600;
  color: #ffb800;
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1600px) {
  .block {
    width: 500px;
    height: 600px;
  }

  .inputBlock {
    p {
      font-size: 14px;
    }

    input {
      height: 50px;
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
      }
    }

    textarea {
      font-size: 16px;
      padding: 15px;

      &::placeholder {
        font-size: 16px;
      }
    }
  }

  .contacts {
    .contact {
      gap: 10px;
    }

    p {
      font-size: 20px;
    }
  }

  .or {
    font-size: 48px;
  }

  .back {
    height: 140px;
    width: 380px;
    margin-top: -40px;

    p {
      font-size: 20px;
    }
  }

  .block {
    button {
      width: 180px;
      height: 50px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1239px) {
  .block {
    padding: 20px;
    width: 400px;
  }

  .inputBlock {
    textarea {
      font-size: 14px;
      height: 120px;
    }
  }
}

@media (max-width: 1023px) {
  .blocks {
    flex-direction: column;
    gap: 50px;
  }

  .block {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  .page {
    padding: 0 10px 20px 10px;
  }

  .back {
    width: 250px;
    margin-top: -30px;
    padding: 10px;

    p {
      font-size: 18px;
    }
  }

  .contacts {
    margin-top: 10px;
    gap: 20px;
  }

  .block {
    height: fit-content;
    padding: 15px;
    h2 {
      font-size: 24px;
    }

    textarea {
      height: 120px;
    }

    button {
      width: 150px;
      height: 40px;
      font-size: 18px;
    }
  }
}

.tooltip {
  position: fixed;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 5;
  color: #000;
  font-size: 16px;
  transition: 0.3s opacity ease;
}

.modal {
  border: 2px solid #ffb800;
  box-shadow: 0px 0px 40px rgba(255, 184, 0, 0.2);
}
