* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* =============== */

@import url(https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap);

html {
  background-color: #000;
}

* {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
}

button,
input {
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
}

[class*="container"] {
  max-width: 1640px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.App {
  min-height: 100vh;
  min-width: 100%;
}

.darkness {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all 0.5s ease;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  transition: background-color 0.3s ease;
}

.preloader {
  min-width: 64px;
  min-height: 64px;
  border-radius: 50%;
  border: 4px solid #fff;
  transform: rotate(45deg);
  border-top: 4px solid rgba(0, 0, 0, 0);
  animation: spin 0.75s ease-in-out infinite;
}

@media (max-width: 767px) {
  .preloader {
    min-width: 32px;
    min-height: 32px;
    border-width: 2px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s ease;

  &:active {
    background-color: #ddd;
  }
  &:hover {
    background-color: #eee;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
